@import 'bulma/bulma.sass';

/*.thin-number{
    width: 80px;
}*/

@include mobile{
	.breakoverride{
		display: block !important;
		margin-top: 10px;
		margin-bottom: 10px;
		.control:first-child *{
			border-radius: 0px !important; 
			border-top-left-radius: $input-radius !important;
			border-top-right-radius: $input-radius !important;
		}
		.control:last-child *{
			border-radius: 0px !important; 
			border-bottom-left-radius: $input-radius !important;
			border-bottom-right-radius: $input-radius !important;
		}
	}
}

.allwidth{
	width: 100%;
}